<div class="row">
  <div class="col-xs-6 col-xs-offset-3 text-center">
    <h2 style="font-size:35px">Reset password</h2><br>
  </div>
</div>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="row">
    <div class="col-xs-7 col-xs-offset-4 text-left">
    <%= f.input :email, required: true, autofocus: true, :label_html => { :class => 'myformlabel' }, :input_html => { :class => 'forminput'} %>
    </div>
    </div>
  </div><br>

  <div class="form-actions">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4 text-center">
        <%= f.button :submit, "Send me reset password instructions" %>
      </div>
        <% end %>
      </div><br>

        <div class="row">
          <div class="col-xs-4 col-xs-offset-2 text-right">
            <%- if controller_name != 'sessions' %>
              <div style="margin-top:10px"><%= link_to "Log in",  new_session_path(resource_name), {:class => "linkto"}%></div><br />
            <% end -%>
          </div>
          <div class="col-xs-2 text-left">
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <div style="margin-top:10px"><%= link_to "Sign up", new_registration_path(resource_name), {:class => "linkto"} %></div><br />
            <% end -%>
          </div>
        </div>




</div>
